<div class="row">
    <div class="col-md-4">
<form asp-action="Purchase">
    <label class="form-control">Ship Address: </label>
    <input type="text" name="shipAddress" class="form-control" placeholder="Ship Address" required/> <br />
    <label class="form-control">Ship Phone: </label>
    <input type="text" name="shipPhone" class="form-control" placeholder="Ship Phone" required/><br />
    <input type="submit" value="Thanh toán" />
</form>
    </div>
</div>
